<%
if (_.state.body_html) {
  const className = _.route.resource === 'categories' ? 'category'
    : _.route.resource.slice(0, -1)
  %>
  <section class="<%= className %>-description my-4 my-lg-5">
    <div class="container">
      <div class="html-clearfix">
        <%- _.state.body_html %>
      </div>
    </div>
  </section>
  <div class="skeepers_product__reviews mt-3" data-product-id="<%= _.state._id %>" data-locale="pt_BR" data-price="<%= _.state.price %>" data-currency="BRL" data-name="<%= _.state.name %>" data-url="https://www.adequim.com.br/<%= _.state.slug %>" data-image-url="<%= _.state.pictures && _.state.pictures.length && _.state.pictures[0] && _.state.pictures[0].zoom && _.state.pictures[0].zoom.url %>"></div>
<% } %>
